@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --border_radius: 7px;
    --border_color: #d9d9d9;
    --bg_color: #e2791b;
    --valid_color: #28a745;
    --invalid_color: #dc3545;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
}

.valid_input {
    border: solid 1px var(--valid_color) !important;
}

.invalid_input {
    border: solid 1px var(--invalid_color) !important;
}

.invalid_message {
    font-size: 0.9rem;
    color: var(--invalid_color);
    font-weight: 400;
    display: none;
}

.koledar {
    width: 350px;
    margin: 10px auto 0;
}

.koledar_body {
    outline: 0;
    margin-top: 15px;
    border-radius: var(--border_radius);
    border: solid 1px var(--border_color);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
}

.koledar .koledar_header {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    background-color: var(--bg_color);
    border-radius: var(--border_radius) var(--border_radius) 0 0;
}

.koledar .koledar_header_top {
    flex-basis: 100%;
}

.koledar .koledar_header_zapri button {
    margin-left: auto;
}

.koledar .koledar_header .koledar_header_label {
    font-size: 1.2rem;
    flex-grow: 1;
}

.koledar .koledar_header button {
    font-size: 1.4rem;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.koledar .koledar_header .mesec_navigacija {
    width: 20px;
}

.koledar .koledar_header .zapri_koledar {
    float: right;
}

.koledar .koledar_teden {
    display: flex;
    color: var(--bg_color);
}

.koledar .koledar_teden span {
    align-items: center;
    padding: 20px 0;
    flex: 0 calc(100% / 7);
}

.koledar .koledar_datumi {
    display: flex;
    flex-wrap: wrap;
}

.koledar .koledar_datumi .datum {
    align-items: center;
    padding: 15px 0;
    flex: 0 calc(100% / 7);
    border-radius: var(--border_radius);
}

.koledar .koledar_datumi .datum_danes {
    color: #333333;
    background-color: #eaebee;
}

.koledar .koledar_datumi .datum_nedelja {
    color: #f0ae11;
}

.koledar .koledar_datumi .datum_praznik {
    color: #ffffff;
    background-color: #ec4343;
}

.koledar .koledar_datumi .datum_selected {
    color: #ffffff;
    background-color: #439dec;
}

.koledar label {
    float: left;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.koledar label:not(:first-child) {
    margin-top: 15px;
}

.koledar input, .koledar select, .koledar .nalozi_btn {
    width: 100%;
    font-size: 1rem;
    padding: 8px 10px;
    border: solid 1px var(--border_color);
    border-radius: var(--border_radius);
    box-sizing: border-box;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
}

.koledar .nalozi_btn_wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.koledar .nalozi_btn {
    margin-top: 15px;
    color: white;
    background-color: var(--bg_color);
}

.koledar input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
